**/__pycache__
**/.pytest_cache
**/.mypy_cache
**/.venv
**/node_modules
**/*.pyc
.git
.env
.env.*
!.env.example
**/*.pem
**/*.key
**/*.p12
**/*.pfx
**/*.crt
**/*.cer
**/id_rsa
**/id_dsa
**/.aws
**/.ssh
